<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.delta.bbm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name="com.bbm.Alaska"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BBMAppTheme">
        <activity android:name="com.bbm.ui.activities.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbm.ui.activities.MainActivity"/>
        <activity android:label="@string/delta_settings" android:name=".activities.SettingsActivity"/>
        <activity android:name="com.bbm.ui.activities.ViewProfileActivity"/>
        <activity android:name="com.bbm.ui.activities.ConversationActivity"/>
        <activity android:launchMode="singleTop" android:name=".activities.LockActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <service android:exported="false" android:name=".utils.lock.LockService"/>
    </application>

</manifest>